<section class="prompt">
  <h1>Signup</h1>
  <form action="/auth/signup" method="post">
    <section>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" autocomplete="email" required />
    </section>
    <section>
      <label for="new-password">Password</label>
      <input type="password" id="new-password" name="password" autocomplete="new-password" required />
    </section>
    <input type="hidden" />
    <button type="submit">Sign up</button>
  </form>
  <p class="help">Already have an account? <a href="/login">Login</a></p>
</section>
